<div class="row">
    <h1 id="titulo">Experiencia  Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nihil eius reiciendis ullam, amet molestias consectetur sit vitae minima cumque reprehenderit tempore labore molestiae distinctio mollitia enim, facere quas iusto!</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nihil eius reiciendis ullam, amet molestias consectetur sit vitae minima cumque reprehenderit tempore labore molestiae distinctio mollitia enim, facere quas iusto!</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nihil eius reiciendis ullam, amet molestias consectetur sit vitae minima cumque reprehenderit tempore labore molestiae distinctio mollitia enim, facere quas iusto!</p>
        </ul>
    </div>
</div>
