<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes logosredes">
                <a href="https://github.com/JuanPGonzalez"><img src="../../../assets/github.png" alt="github"></a>
                <a href="https://www.instagram.com/juampogonzalez/"><img src="../../../assets/instagram.png" alt="instagram"></a>
                <a href="https://www.linkedin.com/in/juan-pablo-gonzalez-54181b185"><img src="../../../assets/linkedin.png" alt="linkedin"></a>  
                <button type="button" class="btn btn-outline-light" (click) = "login()"> LOGIN </button>          
        </div>
    </div>
</div>

