.row{
    padding: 20px;
}

div{
    background-color: #0E2C40;
    text-align: center;
    color: white;
    font-family: Georgia;
}

#titulo{
    font-size: x-large;
    font-weight: bold;
    margin-top: 10%;
    color: white;
}

@media (min-width: 576px){
    #fotoPerfil{
        border-radius: 100%;
        border-color: #254659;
        border-width: 5px;
        border-style: solid;
}
    .descripcion{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 575px){
    #fotoPerfil{
        border-radius: 100%;
        border-color: #254659;
        border-width: 5px;
        border-style: solid;
}
}