
div{
    background-color: #0E2C40;
    text-align: center;
    color: white;
    font-family: Georgia;
}

#titulo{
    font-size: x-large;
    font-weight: bold;
    margin-top: 10%;
    color: white;
}


@media (min-width: 576px){
    #fotoPerfil{
        position: relative;
        border-radius: 100%;
        border-color: #254659;
        border-width: 5px;
        border-style: solid;
        bottom: 150px;
        height: 265px;
}
    .descripcion{
        justify-content: center;
        align-items: center;

    }

    .row{
        padding: 20px;
        height: 175px;
    }
}

@media (max-width: 575px){
    #fotoPerfil{
        width: 80%;
        border-radius: 100%;
        left: 33%;
        top: 175px;
        border-color: #254659;
        border-width: 5px;
        border-style: solid;
    }
    .row{
        padding: 20px;
        
    }
}